/* thuộc tính toàn cục */
* {
    color: rgb(0, 0, 0);
}
/* Đặt biến  */
:root{
    --text-color: rgb(23, 7, 250);
}
html, body{
    font-size: 100%;
}

.header{
    width: 100%;
    height: 100px;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    border: 10px dashed white;
}

h1{
    color: red;
    background-color: chartreuse;
    font-size: 50px;
}
h2{
    background-color: rgb(206, 90, 90);
}

#h1one{
    color: aqua;
}

.h1two{
    color: red;
    font-size: 20px;
}

li{
    color: var(--text-color) !important;
    font-size: 1rem;
}

.box{
    width: 100px;
    height: 100px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkmagenta;
    padding: 16px;
    border: 2px solid #333;
    box-sizing: border-box;
}

.box1{
    background-color: #ff8800;
    padding: 10px;
}

.box2{
    background-color: #ff00dd;
    border-top-width: 2px;
    border-left-width: 10px;
    border-style: dashed;
    border-color: black;
}

.box3{
    background-color: #00ff00;
    margin: 10px;
}